* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px 40px 230px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-item>a {
    margin-right: 40px;
    color: #FF6060;
    text-decoration: none;
}

.menu-item>a:hover {
    color: #FF6060;
    text-decoration: underline;

}

.header-logo {
    width: 150px;
}

@media screen and (max-width: 480px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 335px;
        margin: 30px;

    }

    .header-logo {
        width: 145px;
        padding-left: 15px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
    }


    .menu-item>a {
        margin-right: 10px;
        font-size: 12px;
        color: #FF6060;
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-item>a:hover {
        color: #FF6060;
        text-decoration: underline;

    }

}

@media screen and (min-width: 481px) and (max-width: 1025px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 84%;
        padding-top: 20px;
        margin: auto;

    }

    .header-logo {
        width: 180px;
        padding-left: 15px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
    }


    .menu-item>a {
        margin-right: 10px;
        font-size: 14px;
        color: #FF6060;
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-item>a:hover {
        color: #FF6060;
        text-decoration: underline;

    }
}