.title-rating-container {
    display: flex;
    flex-direction: row;
}

.description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
}

.house-column-title {
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    margin-right: auto;
    max-width: 1240px;
}

.house-rating-column {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 220px;
    max-width: 1240px;


}


.house-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060;
}

.house-location {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.house-host {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 10px;
}

.host-name {
    margin-left: 450px;
    margin-right: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
}

.host-pic {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.house-tags {
    display: flex;
    flex-direction: row;
    margin-top: 23px;

}

.image-slider {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 415px;
    overflow: visible;
}

.house-rating {
    display: flex;
    justify-content: right;
    margin-top: 15px;
}

.house-description {
    width: 582px;
}

.house-equipments {
    margin-left: 45px;
    width: 582px;
}

@media screen and (max-width: 480px) {

    .title-rating-container {
        display: flex;
        flex-direction: column;
    }

    .house-title {
        margin: 20px;
        font-size: 18px;
    }

    .image-slider {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 255px;
        overflow: visible;
    }

    .house-column-title {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: auto;
        max-width: 335px;
    }

    .house-title {
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .house-location {
        font-size: 14px;
    }

    .house-rating-column {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-left: 30px;
        margin-right: auto;
        max-width: 335px;

    }

    .house-rating>.rating {
        display: flex;
        flex-direction: row;
        width: 100px;
    }

    .description-container {
        display: flex;
        flex-direction: column;
        margin-top: -15px;
    }

    .house-description {
        margin: auto;
        max-width: 335px;
    }

    .house-equipments {
        margin: auto;
        max-width: 335px;
    }

    .house-host {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        margin-left: 100px;
    }

    .host-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .host-name {
        margin-left: 0px;
        margin-right: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 142.6%;
        display: flex;
        align-items: flex-end;
        text-align: right;
        color: #FF6060;
        padding-left: 15px;
    }

}